.form-check-inline{
    padding-left: 20px; 
    padding-right:20px;
}
label.radio-inline{
    padding-left: 20px; 
    padding-right:20px;
}

@media (min-width:319px)  { 
    .form-group{
        font-size: 60%;
    }
}
@media (min-width:401px)  { 
    f.form-group{
        font-size: 70%;
    }
}
@media (min-width:641px)  { 
    .form-group{
        font-size: 80%;
    }
}
/* @media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
/* @media (min-width:1025px) { big landscape tablets, laptops, and desktops } */
/* @media (min-width:1281px) { hi-res laptops and desktops }  */ 
/* Small devices (landscape phones, 576px and up) */


 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .form-group{
        font-size: 90%;
    }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .form-group{
        font-size: 100%;
    }
}
 
