#stroop{display:block;padding:100px 100px;margin:0 auto;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;font-family:sans-serif;font-size:300%}
#key{text-align:center;font-family:sans-serif}
div.btn-keys>.btn-outline-primary{color:#000;border-color:#000}
div.btn-keys>.btn-outline-primary:hover{color:white}
div.btn-keys>.btn-outline-primary:not(:disabled):not(.disabled):active{color:white;border-color:#000;background-color:white}