{% extends 'base.html' %}

{% block body %}
<div class="container-fluid container-sm container-md container-lg container-xl heading2">
    <div class="row">
        <div class="col">
            <h2 class="text-center text-sm-center text-md-center text-lg-center text-xl-center">{{ title }}</h2>
            <p class='float text-center'>
                User: {{user}}
            </p>
        </div>
    </div>
</div>

<form method="POST">
    <div class="container container-sm container-md container-lg container-xl heading2 end">
        <div class="row text-center ">
            <div class="col">
                <section class="text-justify block">
                    <p class="full block">
                        <h4>Introduction to the Research Study: </h4><br>
                        <b>Topic:</b> Effects of Chronic Pain on Human Decision Making by using a Reinforcement Learning
                        model <br>
                        <b>School:</b> School of Computing & School of Psychology <br>
                        <b>Principal Investigators:</b> Himanshu Vashisht (himanshu.vashisht2@mail.dcu.ie) & Alekhya
                        Nethra (alekhya.nethra2@mail.dcu.ie) <br>
                        <b>Other Investigators:</b> Prof. Tomas Ward, Lili Zhang, Dr. Brian Slattery <br>
                    </p>

                    <p class="full block">
                        <h4>Research Summary: </h4><br>
                        According to chronicpain.ie, chronic pain is a disease of the central nervous system. Chronic
                        pain may originate in the body, or in the brain or spinal cord. It is often difficult to treat.
                        Approximately 20% of the world’s population suffers from ongoing pain that severely impacts
                        their quality of life. <br> <br>
                        There is a growth in how computational methods such as reinforcement learning (RL), where the
                        aim of the agent (human or computer) is to maximise the rewards, could be useful in research. In
                        such experiments, the researchers use a number of economic games such as Iowa Gambling task
                        (IGT), Wisconsin Card Sorting Task (WCST), and Stroop Task (ST), to study the effects of some
                        form of stimuli (chronic pain, in this case) in the player’s performance. <br> <br>
                        We aim to follow the same principle and study how chronic pain affects human decision (i.e. a
                        player’s performance) by making our subjects play a number of rounds of few of these games and
                        capture the performance and analysing it. <br>
                    </p>

                    <p class="full block">
                        <h4>If you agree to participate in this project:</h4><br>
                        First you will be asked to answer some questions regarding your experience of chronic pain.
                        Following this, you are required to play a specified number of rounds of few games, some via web
                        application. In total, you should be able to complete the all tasks in approximately 20 minutes.
                    </p>

                    <p class="full block">
                        <h4>No personal information is collected:</h4><br>
                        We identify you by an ID number we randomly assign you.<br>
                        We <b>do not</b> ask for your:
                        <ul>
                            <li>Name</li>
                            <li>E-Mail</li>
                            <li>Phone Number</li>
                        </ul>
                        We <b>do</b> ask for your:
                        <ul>
                            <li>Gender</li>
                            <li>Age-range (for example 26 – 30, or 31 – 35)</li>
                            <li>Pain level while performing the task (on a scale of 1-10, 1 being lowest and 10 being
                                highest)</li>
                        </ul>
                    </p>

                    <p class="full block">
                        <h4>Anticipated benefits from participating in this project:</h4><br>
                        The indirect benefits will arise from an increase in the understanding of the cognitive impact
                        of chronic pain which will be disseminated in a scientific article. We do not foresee any risks
                        to participants from completing these tasks. Participants will be free to change their mind and
                        withdraw from the study at any time until they submit their final response and tick to consent
                        to their responses being collected.<br><br>

                        Since no personal data is collected, participants will not be informed of the results of this
                        project. However, the completed work will be submitted for publication where the anonymised
                        results will be displayed. <br>

                    </p>

                    <p class="full block">
                        <h5><i>If participants have concerns about this study and wish to contact an independent person,
                                please contact:</i></h5>
                        <i>The Secretary, Dublin City University Research Ethics Committee, c/o Research and Innovation
                            Support, Dublin City University, Dublin 9. Tel 01-7008000, e-mail <b>rec@dcu.ie</b></i><br>
                    </p>

                </section>



                <button type="submit" onclick="redirectToInfo()" class="btn btn-outline-primary"> Continue </button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" src="{{ url_for('static', filename='js/pls.js') }}"></script>
{% endblock %}